## PYTHON LIST :

-> It is commonly used data type that representation ordered mutable and iterable sequence of elements

-> Lists are the collection of elements.That can be a data type,numbers,strings etc..,

-> Lists are defined using square brackets [] and elements are seperated by commas.

## CREATION OF LIST :

In [3]:
my_list = []
numbers = [1,2,3,4,5]
names = ["Apple","Promogrante","Cherry"]
mixed_types = [1,"Apple",3.5,True]
print(type(mixed_types))
print(type(numbers))

<class 'list'>
<class 'list'>

## ACCESSING LIST ELEMENTS :

-> In python , lists are ordered and each item in a list is associated with a number. The number is known as list index

-> The index of the first element is 0,second element is 1 and so on

-> Python allows negative indexing for its sequencies . The index of -1 refers to the list -2 to the second last item and so on

## SLICING OF A LIST :

In python , it is possiable to access a portion of a list using the slicing operator

#### Examples :

In [17]:
my_list = ['S','A','N','D','E','E','P']
print(my_list[2:5])

['N', 'D', 'E']

In [19]:
my_list = ['V','I','S','A','K','H','A','P','A','T','N','A','M']
print(my_list[5:10])

['H', 'A', 'P', 'A', 'T']

## LIST OPERATIONS :

#### TYPES

##### -> CONCATENATION

##### -> REPETITION

In [27]:
#concatenation
a = [1,2,3,4,5]
b = [2,4,6,8]
c = a + b
print(c)

[1, 2, 3, 4, 5, 2, 4, 6, 8]

In [35]:
b = [2,4,6,8]
c = [1,3,5,9]
a = b + c
print(a)

[2, 4, 6, 8, 1, 3, 5, 9]

In [37]:
#repetition
a = [2,4,6,8]
b = [a*10]
print(b)

[[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]]

In [39]:
c = [1,3,5,9,10]
d = [c*50]
print(d)

[[1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10, 1, 3, 5, 9, 10]]

## LIST METHODS :

#### -> APPEND () :

Adds an element at the end of the list

##### Examples :

In [44]:
alpha = ['a','b','c','d']
alpha.append('e')
print(alpha)

['a', 'b', 'c', 'd', 'e']

In [46]:
numbers = [1,2,3,4,5]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

#### -> EXTEND () :

Appends elements from another iterable to the end

##### Examples :

In [52]:
numbers = [1,2,3,4,6,7,89,2,45]
more_numbers = [ 344,567,234,123,880]
numbers.extend(more_numbers)
print(numbers)

[1, 2, 3, 4, 6, 7, 89, 2, 45, 344, 567, 234, 123, 880]

In [54]:
alpha = ['a','b','c','d']
more_alpha = ['e','f','g','h','i']
alpha.extend(more_alpha)
print(alpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

#### -> INSERT () :

In [ ]:
Inserting an element at a specified position

#### -> REMOVE () :

Removes the first occurance of the value

##### Examples :

In [78]:
numbers = [1,2,3,4,5,6,7,8,8,10]
numbers.remove(8)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [80]:
alpha = ['a','b','c','d']
alpha.remove('c')
print(alpha)

['a', 'b', 'd']

#### -> POP () :

Removes and returns an elements at a specified element

#### Examples :

In [85]:
numbers = [1,2,34,5,6,7,8,9,10]
popped_element = numbers.pop()
print(numbers)
print(popped_element)

[1, 2, 34, 5, 6, 7, 8, 9]
10

In [87]:
alpha = ['a','b','c','d','e','f']
popped_element = alpha.pop()
print(alpha)
print(popped_element)

['a', 'b', 'c', 'd', 'e']
f

#### -> INDEX () :

Returns the index of the first occurence of a value

##### Examples :

In [91]:
numbers = [10,20,30,40,50,60,70,80,90,20,10,30,20,10,40]
index = numbers.index(40)
print(index)

3

In [93]:
alpha = ['a','b','c','d','e','f','g','h','i','j','k','l']
index = alpha.index('f')
print(index)

5

#### -> COUNT () :

Returns the number of occurance of a value or a variable

##### Examples :

In [99]:
numbers = [12,123,23,234,45,456,56,567,12,23,45,78,789,78]
count = numbers.count(45)
print(count)

2

In [101]:
alpha = ['a','b','c','d','e','f','g','h','i','j','k','l','m']
count = alpha.count('d')
print(count)

1

#### -> SORT () :

Its sorts the list in the ascending order

##### Examples :

In [105]:
numbers = [10 ,99 ,8 ,77 ,6 ,66 ,5 ,55,4,44,3,33,2,22,1,111]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 8, 10, 22, 33, 44, 55, 66, 77, 99, 111]

In [107]:
alpha = ['APPLE' ,'COW','ORANGE','DOG','MANGO','PIG']
alpha.sort()
print(alpha)

['APPLE', 'COW', 'DOG', 'MANGO', 'ORANGE', 'PIG']

#### -> REVERSE () :

It reverse the order of elements in the list

##### Examples :

In [3]:
numbers = [1,2,3,45,6,7,8,9,10]
numbers.reverse()
print(numbers)

[10, 9, 8, 7, 6, 45, 3, 2, 1]

In [5]:
alpha = ['a','b','c','d']
alpha.reverse()
print(alpha)

['d', 'c', 'b', 'a']