## PYTHON STRINGS :

A String is a data structure in Python Programming that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Python String are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

In [15]:

#create string using double quotes
str1="python"

#create string using single quotes
str2='python'

In [17]:
#if need any multi - line strings using """
str3= """This is a multi-line string"""
print(str3)

This is a multi-line string

In [19]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

## STRING OPERATORS :

In [22]:
#1 concatenation 
str1="Hi"
str2="hello"
result=str1+str2
print(result)

Hihello

In [24]:
#2 Repetition
str1 ="Python"
result=str1*8
print(result)

PythonPythonPythonPythonPythonPythonPythonPython

In [28]:
#3 Slicing
my_string="Hello Vizag"
print(my_string[4:10])

o Viza

In [30]:
#4 Indexing
my_string="Python is easy and good to learn"
print(my_string[4])
print(my_string[-4])

o
e

## PYTHON FORMAT STRING :

In [41]:
#1. Old style formatting (% operator)
    # uses the percentage operator and placholders 

name="Sandeep"
age=22
place="Visakhapatnam"
education="B.TECH" 
college="RAGHU ENGNEERING COLLEGE"
branch="CSE-CYBER"
height=6.2

formatted_string="My name is %s . I am %d years old . I am from %s .I have completed my graduation at %s in %s Engineering and my height is %f in feet." %(name,age,education,college,branch,height)
print(formatted_string)

My name is Sandeep . I am 22 years old . I am from B.TECH .I have completed my graduation at RAGHU ENGNEERING COLLEGE in CSE-CYBER Engineering and my height is 6.200000 in feet.

In [47]:
#2. Format method
   #uses the format method and placeholders

name="Sandeep"
age=22
place="Visakhapatnam"
education="B.TECH" 
college="RAGHU ENGNEERING COLLEGE"
branch="CSE-CYBER"
height=6.2

formatted_string="My name is {}. I am {} years old . I am from {} .I have completed my graduation at {} in {} Engineering and my height is {} in feet." .format(name,age,education,college,branch,height)
print(formatted_string)

My name is Sandeep. I am 22 years old . I am from B.TECH .I have completed my graduation at RAGHU ENGNEERING COLLEGE in CSE-CYBER Engineering and my height is 6.2 in feet.

In [55]:
#3. String Interpolation(f-string-python3.6 or later):
   # uses f-strings, where expressions iside curly braces{} are evaluated and replaced

name="Sandeep"
age=22
place="Visakhapatnam"
education="B.TECH" 
college="RAGHU ENGNEERING COLLEGE"
branch="CSE-CYBER"
height=6.2

formatted_string= f" My name is {name}. I am {age} years old . I am from {place} .I have completed my graduation at {college} in {branch} Engineering and my height is {height} in feet."
print(formatted_string)

 My name is Sandeep. I am 22 years old . I am from Visakhapatnam .I have completed my graduation at RAGHU ENGNEERING COLLEGE in CSE-CYBER Engineering and my height is 6.2 in feet.

## STRING METHODS :

In [60]:
# 1.len()
   #returns the length of the string.

my_string="Python is easy"
length=len(my_string)
print(length)

14

In [62]:
# 2.lower/upper()
   #converts the string to lowercase/uppercase

my_string="Hihello"
string="HIHELLO"
print(my_string.upper())
print(string.lower())

HIHELLO
hihello

In [64]:
# 3.Strip()
  #removes leading and trailing whitespaces.

my_string=" python "
stripped_string=my_string.strip()
print(stripped_string)

python

In [66]:
# 4.replace()
   #replaces a substring with another substring

my_string="Hello world"
new_string=my_string.replace("world","Vizag")
print(new_string)

Hello Vizag

In [68]:
# 5.split()
   #split the string into a list of substring

my_string="Python is fun and good to learn"
words=my_string.split()
print(words)

['Python', 'is', 'fun', 'and', 'good', 'to', 'learn']

In [70]:
# 6.join()
   #joins a list of strings into a single string

words=['Python', 'is', 'fun', 'and', 'good', 'to', 'learn']
my_string=" ".join(words)
print(my_string)

Python is fun and good to learn

In [74]:
# 7. capitaize()
   #converts the first character of the string to a capital letter

name="sandeep"
capital_name=name.capitalize()
print(capital_name)

Sandeep

In [76]:
# 8.find()
   #returns the lowest index of the substring  if it is found

word= 'find me if you can'
print(word.find('me'))

5

In [1]:
# 9.index()
   #returns the position of the first occurance of a substring in a string 

string='random'
print(string.index('a'))

1

In [3]:
# 10.islower()
  #checks if all characters in the string are lowercase

strings="apples"
name="Arjun"
print(string.islower())
print(name.islower())

True
False

In [5]:
# 11.isupper()
   #checks if all character in the string are uppercase

strings="Mango"
name="SANDEEP"
print(string.isupper())
print(name.isupper())

False
True

In [7]:
# 12.rfind()
   #right aligns the string according to the width specified

word ='find me if you can'
print(word.rfind('u'))

13

In [9]:
# 13.rsplit()
   #split the string from right by the specified seperator

my_string="python is fun and good to learn"
words=my_string.rsplit()
print(words)

['python', 'is', 'fun', 'and', 'good', 'to', 'learn']

In [13]:
# 14.swapcase()
   #converts all uppercase characters to lowercase and vice versa

string="MaNgO"
print(string.swapcase())
string="mango"
print(string.swapcase())
string=("MANGO")
print(string.swapcase())

mAnGo
MANGO
mango

In [17]:
# 15.title()
  #converts the string into title case

strings="python is good to learn"
print(strings.title())

Python Is Good To Learn

In [21]:
# 16.zfill()
   #returns the copy of the string with'0' characters padded to the left side of the string

strings = "python is good"
print(strings.zfill(20))

000000python is good

In [23]:
# 17.endswith()
   #returns true if a string ends with the given suffix

string="python is good to learn"
print(string.endswith("learn"))

True

In [25]:
# 18.center()
   #pad the string with the specified character

string="python is good"
print(string.center(50))
print(string.center(123,'*'))

                  python is good
*******************************************************python is good******************************************************

In [27]:
# 19.casefold()
  #implements caseless string matching

string="PYTHON Is GOod"
print(string.casefold())

python is good

In [31]:
# 20.count()
   #returns the number of occurance of a substring in the strin

string="PYTHON Is GOod"
print(string.count("o"))

1

In [35]:
# 21.expandtabs()
   #specifies the amount of space to be substituted with the "\t" symbol in the string

string="python\tis\tgood"
print(string.expandtabs())

python  is      good

In [37]:
# 22.format()
   #formats the string for printing it to console

name="shiva"
age=24
number=4
message="my name is {} and i am {} years old {} is my lucky number".format(name,age,number)
print(message)

my name is shiva and i am 24 years old 4 is my lucky number

In [39]:
# 23.formatmap()
   #format specified values in a string using a dictionary

string={'x':'Jagannadha','y':'Sandeep'}
print("{x}'s last name is {y}".format_map(string))

Jagannadha's last name is Sandeep

In [41]:
# 24.isalnum()
   #checks whether all the characters in a given string is alphanumeric or not

string="Mango143"
print(string.isalnum())

True

In [43]:
# 25.isalpha()
   #returns"true" if all characters in the string are alphabets

string="Mango"
print(string.isalpha())

True

In [65]:
# 26.isdecimal()
   #returns true if all characters in the string are decimal

number= "250"
print(string.isdecimal())

False

In [67]:
# 27.isdigit()
  #returns trueif at all characters in the string are digits

string='1430'
print(string.isdigit())

True

In [69]:
# 29.isnumeric()
   #returns true if at all characters in the string are numeric

string="1234567890"
result=string.isnumeric()
print(result)

True

In [ ]:
# 30.startswith()
   #returns true if a