## PYTHON SETS :

-> Python Set is an unordered collection of data types that is iterable, mutable, and has no duplicate elements.

-> The order of elements in a set is undefined though it may consist of various elements. 

-> The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

-> It uses common set operations like union , intersection , difference and more.

## CREATION OF SETS :

-> Python Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by a ‘comma’.

Note: A Python set cannot have mutable elements like a list or dictionary, as it is immutable.

In [3]:
#Creating an empty set
empty_set = set()
#Creating a set with elements
fruits = ('apple','mango','banana')
numbers = set({1,2,3,4,5})
print(numbers)

{1, 2, 3, 4, 5}

In [5]:
#duplicate items in a set
numbers = (9,7,5,3,1,2,4,6,8,0,7,9,44,55,66,77,88,99,24,44)
print(numbers)

(9, 7, 5, 3, 1, 2, 4, 6, 8, 0, 7, 9, 44, 55, 66, 77, 88, 99, 24, 44)

## ACCESSING AN ELEMENT IN SETS :

-> Set items cannot be accessed by referring to an index, since sets are unordered the items has no index.

-> But you can loop through the Python hash set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

## SET METHODS :

#### 1. Add item in python set :

-> Elements can be added to the Sets in Python by using the built-in add() function.

-> Only one element at a time can be added to the set by using add() method, loops are used to add multiple elements at a time with the use of add() method.

Note: Lists cannot be added to a set as elements because Lists are not hashable whereas Tuples can be added because tuples are immutable and hence Hashable.

In [27]:
#example for add()
# Creating a Set
set1 = set()
print("Initial blank Set: ")
print(set1)

# Adding element and tuple to the Set
set1.add((8,12))
set1.add(4)
set1.add((6, 24))
print(set1)

Initial blank Set:
set()
{(6, 24), 4, (8, 12)}

#### 2.Update Python Set :

->For the addition of two or more elements, Update() method is used.

->The update() method accepts lists, strings, tuples as well as other Python hash set as its arguments. 

-> In all of these cases, duplicate elements are avoided.

In [36]:
#example for update
# Addition of elements to the Set
# using Update function
set1 = set([4, 5, 6, 7])
set1.update([10, 11])
print("Set after Addition of elements using Update: ")
print(set1)

Set after Addition of elements using Update:
{4, 5, 6, 7, 10, 11}

#### 3. Remove or discard :

-> We use the remove or discard method to remove the specified element from a set.

-> Elements can be removed from the Sets in Python by using the built-in remove() function but a KeyError arises if the element doesn’t exist in the hashset Python.

-> To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

In [42]:
#example for remove or discard
language = {'Swift','Java','Python'}
removevalue = language.discard('Swift')
print('Set after remove()',language)

Set after remove() {'Java', 'Python'}

#### 4. Clear :

-> To remove all the elements from the set, clear() function is used. set

In [47]:
#example for clear()
set1 = set([1,2,3,4,5])
print("Initial set: ")
print(set1)


# Removing all the elements from 
# Set using clear() method
set1.clear()
print("Set after clearing all the elements: ")
print(set1)

Initial set:
{1, 2, 3, 4, 5}
Set after clearing all the elements:
set()

#### 5. pop :

-> Pop() function can also be used to remove and return an element from the set, but it removes only the last element of the set. 

Note: If the set is unordered then there’s no such way to determine which element is popped by using the pop() function.

In [50]:
#example for pop
# Deletion of elements in a Set

# Creating a Set
set1 = set([1, 2, 3, 4, 5, 6,
            7, 8, 9, 10])
print("Initial Set: ")
print(set1)

# Removing element from the
# Set using the pop() method
set1.pop()
print("Set after popping an element: ")
print(set1)

Initial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10}

#### 6. copy :

The copy() method copies the set.

In [134]:
#example for copy()

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'banana', 'apple'}

## SET OPERATIONS :

#### 1. Union of two sets :

-> The union of two sets a and b include all the elements of set a and b.

-> Combines the elements from two sets removing the duplicates

In [57]:
#example for union 
# first set
A = {1, 3, 5}

# second set
B = {0, 2, 4}

# perform union operation using |
print('Union using |:', A | B)

# perform union operation using union()
print('Union using union():', A.union(B))

Union using |: {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}

#### 2. Set Intersection :

-> The intersection of two set A and B include the common between set A and B returns common elements between two sets

In [60]:
#example for intersection
# first set
A = {1, 3, 5}

# second set
B = {1, 2, 3}

# perform intersection operation using &
print('Intersection using &:', A & B)

# perform intersection operation using intersection()
print('Intersection using intersection():', A.intersection(B))

Intersection using &: {1, 3}
Intersection using intersection(): {1, 3}

#### 3. Difference :

-> The difference between two sets A and B include elements of set A that are not present on set B.

-> We use the - operator or the difference() method to perform the difference between two sets.

In [63]:
#example for difference
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('Difference using &:', A - B)

# perform difference operation using difference()
print('Difference using difference():', A.difference(B))

Difference using &: {3, 5}
Difference using difference(): {3, 5}

#### 4. Symmetric Difference :

-> The symmetric difference between two sets A and B includes all elements of A and B without the common elements.

-> In Python, we use the ^ operator or the symmetric_difference() method to perform symmetric differences between two sets.

In [85]:
#example for Symmetric Difference
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('using ^:', A ^ B)

# using symmetric_difference()
print('using symmetric_difference():', A.symmetric_difference(B))

using ^: {1, 3, 5, 6}
using symmetric_difference(): {1, 3, 5, 6}

#### 5. Disjoint :

Returns True if two sets have a null intersection

In [116]:
x = {1,2,3,4,5}
y = {6,7,8,9,10}

print(x.isdisjoint(y))

True

#### 6. issubset :

Returns True if another set contains this set

In [119]:
#example for issubset

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

#### 7. issuperset :

Returns True if this set contains another set

In [122]:
#example for issuperset()

a = {"f", "e", "d", "c", "b", "a"}
c = {"a", "b", "c"}

z = a.issuperset(c)

print(z)

True

#### 8. difference_update :

Removes all elements of another set from this set

In [125]:
#example for difference_update()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

#### 9. intersection_update :

Updates the set with the intersection of itself and another

In [128]:
#example for intersection_update()

b = {"apple", "banana", "cherry"}
d = {"google", "microsoft", "apple"}

b.intersection_update(d)

print(b)

{'apple'}

#### 10. symmetric_difference_update :

Updates a set with the symmetric difference of itself and another

In [131]:
#example for symmetric_difference_update()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}