## PYTHON TUPLES

-> A tuple is a data tyoe that represents an ordered immutable sequence of elements

-> Tuples are similar to lists, but the key difference is that tuples cannot be modified once they are created

## FEATURES OF PYTHON TUPLES :

-> Tuple are an immutable data type meaning their elements cannot be changed after they are generated

-> Each element in a tuple has a specific order that will never change because tuples are ordered sequences

## CREATION OF A TUPLE :

In [4]:
empty_tuple = ()
fruits = ("apple","mango","orange")
fruits
print(type(fruits))
mixed_tuple =(1,"apple",3.6,True)
mixed_tuple
(1,'apple',3.6,True)
single_element_tuple =(42,)
print(type(single_element_tuple))

<class 'tuple'>
<class 'tuple'>

## ACCESSING OF TUPLE :

Tuple support indexing and slicing just like a lists

##### Examples :

In [8]:
fruits =("apple","mango","orange")
print(fruits[0])
print(fruits[0:2])

apple
('apple', 'mango')

In [10]:
states =("ap","odisha","ts","chennai")
print(states[0])
print(states[1:])

ap
('odisha', 'ts', 'chennai')

## IMMUTABLITY :

Once a tuple is created you cannot change its element or add/remove the elements

##### Examples :

In [20]:
bikes = ("Plusar","BMW","Duke")
bikes(2) = "Activa"
bikes

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2554295824.py, line 2)

## TUPLE OPERATORS :

##### -> CONCATENATION

##### -> REPETITION

In [27]:
#concatenation
tuple1 = (1,2,3,4)
tuple2 = ('a','b','c','d')
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

In [31]:
#repetition
tuple1 = ('a','b','c','d')
result = tuple1*50
print(result)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

## TUPLE METHODS :

#### -> COUNT() :

In [37]:
numbers = (1,2,3,4,5,7,8,9,10)
count_of_2 = numbers.count(5)
print(count_of_2)

1

In [39]:
numbers = (12,34,34, 113, 45,12,113,100,100,24,24)
count_of_2 = numbers.count(24)
print(count_of_2)

2

#### -> INDEX() :

In [42]:
numbers = (1,23,4,556,67,2,3,67,89,45,98)
index_of_3 = numbers.index(2)
print(index_of_3)

5

In [44]:
numbers = (234, 456, 678, 234, 456,678)
index_of_3 = numbers.index(456)
print(index_of_3)

1