## PYTHON DICTIONARIES

-> Dictionaries in Python is a data structure, used to store values in key:value format.

-> This makes it different from lists, tuples, and arrays as in a dictionary each key has an associated value.

## CREATING OF DICTIONARIES

-> In Python , a dictionary can be created by placing a sequence of elements within curly {} braces, separated by a ‘comma’.
-> 
The dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value .-> 

Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable .

Note – Dictionary keys are case sensitive, the same name but different cases of Key will be treated distinc-> tly.

The code demonstrates creating dictionaries with different types of keys. The first dictionary uses integer keys, and the second dictionary uses a mix of string and integer keys with corresponding values. This showcases the flexibility of Python dictionaries in handling various data tas keys.

#### SYNTAX OF DICTIONARY :

dictionary = {key:value}

#### Example :

In [16]:
empty_dict ={}
student={"name":'Sandeep',"age":22,"grade":'A'}
print(student)

mixed_dict={"name" :'Surya', "age" :25,"grade" :[80,90,95]}
print(mixed_dict)

{'name': 'Sandeep', 'age': 22, 'grade': 'A'}
{'name': 'Surya', 'age': 25, 'grade': [80, 90, 95]}

## ACCESSING VALUES :

 We can access the values in a dictionary using the keys

#### Examples :

In [28]:
student ={"name" : 'Surya',"age" : 25,"grade" :'A'}
print(student)
mixed_dict={"name" : 'Surya',"age" :20,"grade" :[80,90,95]}
print(student["name"])
print(mixed_dict["grade"])

{'name': 'Surya', 'age': 25, 'grade': 'A'}
Surya
[80, 90, 95]

## MODIFYING THE VALUES :

In [31]:
#modify an entry
student["age"]=28
print(student)
#adding a new entry
student["gender"]='female'
student["qualification"]='B.Tech'
print(student)

{'name': 'Surya', 'age': 28, 'grade': 'A'}
{'name': 'Surya', 'age': 28, 'grade': 'A', 'gender': 'female', 'qualification': 'B.Tech'}

## METHODS IN DICTIONARY :

#### 1. get() :

Returns the value of a specified key
it also allows you to provide a default value if the key is not found

In [35]:
#example for get()
g = student.get("grade","no grade")
gender = student.get("gender","not mentioned")
n = student.get("location","not found")
print(g)
print(gender)
print(n)

A
female
not found

#### 2.keys() :

Returns a veiw of all the keys in the dictionary

In [54]:
#example for keys()
keys = student.keys()
print(keys)

dict_keys(['name', 'age', 'grade', 'gender', 'qualification'])

#### 3.values() :

Returns a veiw of all values in the dictionary

In [57]:
#example for values()
values=student.values()
print(values)

dict_values(['Surya', 28, 'A', 'female', 'B.Tech'])

#### 4. items() :

Returns a veiw of all key values pairs as tuples

In [60]:
#example for items()
items=student.items()
print(items)

dict_items([('name', 'Surya'), ('age', 28), ('grade', 'A'), ('gender', 'female'), ('qualification', 'B.Tech')])

#### 5. pop() :

Removes and returns the value for a specified key

In [67]:
#example for pop()
mixed_dict={"name":'Sandeep',"age":22,"grades":[80,90,95]}
print(mixed_dict["age"])

22

#### 6. popitem() :

Removes and returns the last inserted key value pair as tuple

In [70]:
#example for popitem()
last_item=student.popitem()
print(last_item)
print(student)

('qualification', 'B.Tech')
{'name': 'Surya', 'age': 28, 'grade': 'A', 'gender': 'female'}

#### 7. update() :

Updates the dictionary with the elements from another dictionary or from an iterable key value pairs

In [73]:
#example for update()
student={"name":'Sandeep',"age":22,"grade":'A'}
student

{'name': 'Sandeep', 'age': 22, 'grade': 'A'}

newdata={"age":24,"grade":'A+'}
student.update(newdata)
print(student)

#### 8. setdefault() :

Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

In [84]:
#example for setdefault()
student={"name":'Sandeep',"age":22,"grade":'A'}
x= student.setdefault("City",'Visakhapatnam')
y= student.setdefault("name",'Sandeep')
print(x)
print(y)

Visakhapatnam
Sandeep

#### 9.copy() :

Returns a copy of the dictionary

In [87]:
#example for copy()
student={"name":'Sandeep',"age":22,"grade":'A'}
student.copy()
print(student)

{'name': 'Sandeep', 'age': 22, 'grade': 'A'}

#### 10. clear() :

clear() method removes all the elements from the dictionary

In [90]:
#example for clear()
student={"name":'Sandeep',"age":22,"grade":'A'}
student.clear()
print(student)

{}

#### 11. fromkeys() :

fromkeys() method returns a dictionary with the specified keys and the specified value

In [93]:
#example for fromkeys()
keys=['a','b','c','d']
my_dict=dict.fromkeys(keys,0)
print(my_dict)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}