## PYTHON CONTROL STATEMENTS :

#### 1. break :

The break statement immediately terminates the loop, and the program continues with the next statement following the loop. It's commonly used to exit a loop when a certain condition is met.

##### Examples :

In [4]:
for letter in 'Sandeep':

	# break the loop as soon it sees 'e'
	# or 's'
	if letter == 'e' or letter == 'd':
		break
print('Current Letter :', letter)

Current Letter : d

In [28]:
for i in range(50) :
    if i == 10 :
        pass
    elif i == 30 :
        break
    else :
        print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

#### 2.Pass :

The pass statement is a no operation statements

##### Examples :

In [32]:
for i in range(20) :
    if i == 10 :
        pass
    else :
        print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [40]:
for i in range(100):
    if i == 50 :
        pass
    else :
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

#### 3. Continue :

It returns the control to the beginning of the loop.

##### Examples :

In [44]:

for letter in 'Sandeep':
	if letter == 'e' or letter == 's':
		continue
	print('Current Letter :', letter)

Current Letter : S
Current Letter : a
Current Letter : n
Current Letter : d
Current Letter : p

In [46]:
for i in range(50) :
    if i == 40 :
        continue
    else :
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
41
42
43
44
45
46
47
48
49