## PYTHON REGULAR EXPRESSIONS :

A RegEx is a powerful tool for matching text, based on a pre-defined pattern.
It can detect the presence or absence of a text by matching it with a particular pattern, and also can split a pattern into one or more sub-patterns.
The Python standard library provides a re module for regular expressions. 
Its primary function is to offer a search, where it takes a regular expression and a string. Here, it either returns the first match or else none.

#### REGEX MODULE :

In [ ]:
import re

## REGEX FUNCTIONS :


Functio           	Descriptio
n
findal         l	Returns a list containing all matches
sear         ch	Returns a Match object if there is a match anywhere in the string
sp         lit	Returns a list where the string has been split at each match             
sub	Replaces one or many matches with a string

#### 1.FINDALL() :

The findall() function returns a list containing all matches.

#### EXAMPLE :

In [25]:
import re

txt = "The rain in Hyderabad"
x = re.findall("a", txt)
print(x)

['a', 'a', 'a']

In [27]:
import re

txt = "The rain in AP"
x = re.findall("TS", txt)
print(x)

[]

#### 2. SEARCH() :

The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned

#### EXAMPLES :

In [33]:
import re

txt = "The rain in AP"
x = re.search(" ", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [35]:
import re

txt = "The rain in AP"
x = re.search("TS", txt)
print(x)

None

#### 3.SPLIT() :

The split() function returns a list where the string has been split at each match

#### EXAMPLES :

In [39]:
import re

txt = "The rain in AP"
x = re.split(" ", txt)
print(x)

['The', 'rain', 'in', 'AP']

In [45]:
import re

txt = "The rain in AP leads to floods"
x = re.split(" ",txt,4)
print(x)

['The', 'rain', 'in', 'AP', 'leads to floods']

#### 4.SUB() :

The sub() function replaces the matches with the text of your choice

#### EXAMPLES :

In [53]:
import re

txt = "The rain in AP leads to floods"
x = re.sub(" ", " 8", txt)
print(x)

The 8rain 8in 8AP 8leads 8to 8floods

In [55]:
import re

txt = "The rain in AP leads to floods"
x = re.sub(" ", " 8.5", txt)
print(x)

The 8.5rain 8.5in 8.5AP 8.5leads 8.5to 8.5floods

In [57]:
import re

txt = "The rain in AP leads to floods"
x = re.sub(" ", " 8.5%", txt)
print(x)

The 8.5%rain 8.5%in 8.5%AP 8.5%leads 8.5%to 8.5%floods

In [59]:
import re

txt = "The rain in AP leads to floods"
x = re.sub(" ", " -8", txt)
print(x)

The -8rain -8in -8AP -8leads -8to -8floods

#### 5.COMPILE() :

Regular expressions are compiled into pattern objects, which have methods for various operations such as searching for pattern matches or performing string substitutions.

#### EXAMPLES :

In [63]:
import re
p = re.compile('[a-e]')

print(p.findall("Hy, Mr.Sharukh"))

['a']

In [65]:
import re
p = re.compile('\d')
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

p = re.compile('\d+')
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

['1', '1', '4', '1', '8', '8', '6']
['11', '4', '1886']

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\sandy\AppData\Local\Temp\ipykernel_3916\2356757988.py:2: SyntaxWarning: invalid escape sequence '\d'
  p = re.compile('\d')
C:\Users\sandy\AppData\Local\Temp\ipykernel_3916\2356757988.py:5: SyntaxWarning: invalid escape sequence '\d'
  p = re.compile('\d+')

#### 6.ESCAPE() :

#### SYNTAX :

In [ ]:
re.escape(string)

Returns string with all non-alphanumerics backslashed, this is useful if you want to match an arbitrary literal string that may have regular expression metacharacters in it.

#### EXAMPLES :

In [69]:
import re
print(re.escape("This is Awesome even 1 AM"))
print(re.escape("I Asked what is this [a-9], he said \t ^WoW"))

This\ is\ Awesome\ even\ 1\ AM
I\ Asked\ what\ is\ this\ \[a\-9\],\ he\ said\ \	\ \^WoW

In [71]:
import re
print(re.escape("The Journey to Aruku in Trin will be amazing"))
print(re.escape("I Asked him about the journey, he said \t ^WoW"))

The\ Journey\ to\ Aruku\ in\ Trin\ will\ be\ amazing
I\ Asked\ him\ about\ the\ journey,\ he\ said\ \	\ \^WoW

#### 7. SUBN() :

subn() is similar to sub() in all ways, except in its way of providing output. It returns a tuple with a count of the total of replacement and the new string rather than just the string.

#### SYNTAX :

In [ ]:
 re.subn(pattern, repl, string, count=0, flags=0)

#### EXAMPLES :

In [83]:
import re

print(re.subn('ub', '~*', 'Subject has Uber booked already'))

t = re.subn('ub', '~*', 'Subject has Uber booked already',
            flags=re.IGNORECASE)
print(t)
print(len(t))
print(t[0])

('S~*ject has Uber booked already', 1)
('S~*ject has ~*er booked already', 2)
2
S~*ject has ~*er booked already

In [85]:
import re

print(re.subn('to', '+*', 'I am going to Vizag tonight'))

t = re.subn('to', '+*', 'I am going to Vizag tonight',
            flags=re.IGNORECASE)
print(t)
print(len(t))
print(t[0])

('I am going +* Vizag +*night', 2)
('I am going +* Vizag +*night', 2)
2
I am going +* Vizag +*night

In [ ]:
import re

print(re.subn('to', '#@', 'I am going to Vizag tonight'))

t = re.subn('to', '#@', 'I am going to Vizag tonight',
            flags=re.IGNORECASE)
print(t)
print(len(t))
print(t[0])

## LITERAL CHARACTER :

Regular characters match themselves.

In [2]:
import re

pattern = re.compile(r'Teks')
match = pattern.search('Say hello to regex!')
if match:
    print('Match found:', match.group())
else:
    print('Not Matched')

Not Matched

## Dot(.) Wild Card :

 The dot matches any single character (except for a newline character).

In [5]:
import re

pattern = re.compile(r'b..k')
match = pattern.search('cat, cot, cut, good, book, birk, board')
if match:
    print('Match found:', match.group())

Match found: book

## Character Classes :

 Square brackets [] define a character class, and the regex will match any single character within the brackets.

In [8]:
import re

pattern = re.compile(r'[window]')
match = pattern.search('Hello, regex!')
if match:
    print('Match found:', match.group())

Match found: o