Python Variables : 
          Python Variable is containers that store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program. 

 Rules Of Variables :
        . A Python variable name must start with a letter or the underscore character.        . A Python variable name cannot start with a number.        .         . 
A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )       .        . 
Variable in Python names are case-sensitive (name, Name, and NAME are three different variables      )        . .
The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [3]:
#Vaild variables
myvar = "Sandeep"
my_var = "Apple"
_my_var = "Shiva"
weight = 70.80
MY_VAR = "Saleem"
myvar2 = "David"
Set_234 = {2,3,4}
List_states = ["AP","TS","BBS"]
a = 100
name = "Sandeep"
is_student = True
fruits = ["Apple","Mango","Jackfruit"]
Shiva_bool = False
personal_info = {"Saleem","education","B.Tech","City"}
Sandeepsandy = { "python","SQL","JAVA"}

print(myvar)
print(my_var)
print(_my_var)
print(weight)
print(MY_VAR)
print(myvar2)
print(Set_234)
print(List_states)
print(a)
print(name)
print(is_student)
print(fruits)
print(Shiva_bool)
print(personal_info)
print(Sandeepsandy)

Sandeep
Apple
Shiva
70.8
Saleem
David
{2, 3, 4}
['AP', 'TS', 'BBS']
100
Sandeep
True
['Apple', 'Mango', 'Jackfruit']
False
{'City', 'B.Tech', 'Saleem', 'education'}
{'python', 'SQL', 'JAVA'}

In [5]:
#Invalid variables
#Vaild variables
2myvar = "Sandeep"
@my_var = "Apple"
_my_var 1 = "Shiva"
weight 0 = 70.80
#MY_VAR = "Saleem"
*myvar2 = "David"
2Set_234 = {2,3,4}
%List_states = ["AP","TS","BBS"]
+a = 100
=name = "Sandeep"
&is_student = True
-fruits = ["Apple","Mango","Jackfruit"]
,Shiva_bool = False
/personal_info = {"Saleem","education","B.Tech","City"}
8Sandeepsandy = { "python","SQL","JAVA"}

print(2myvar)
print(@my_var)
print(_my_var 1)
print(weight 0)
print(#MY_VAR)
print(*myvar2)
print(2Set_234)
print(%List_states)
print(+a)
print(=name)
print(&is_student)
print(-fruits)
print(,Shiva_bool)
print(/personal_info)
print(8Sandeepsandy)

SyntaxError: invalid decimal literal (3185610798.py, line 3)

Multiple Variables : 
           Python allows you to assign values to multiple variables in one line
 Examples :

In [7]:
x, y, z = "Orange", "Strawberry", "Cherry"
print(x)
print(y)
print(z)

Orange
Strawberry
Cherry

One value in multiple variables example

In [9]:
x = y = z = "Strawberry"
print(x)
print(y)
print(z)

Strawberry
Strawberry
Strawberry


Python Type Function :
       The type() function returns the type of the specified object

 Example :

In [16]:
x = 10
print(type(x))

<class 'int'>

In [18]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
y = type(b)
z = type(c)

print(x)
print(y)
print(z)

<class 'tuple'>
<class 'str'>
<class 'int'>